@import '../../global/mixins';

.work-cards-container{
    display: flex;
    justify-content:center;

    flex-wrap: wrap;
    gap: 15px;

    a{
        cursor: pointer;
        text-decoration: none;
        color: $primary-color-text;
    }

    .card-container{
        width: 200px;
        height: 250px;
        overflow: hidden;
        z-index: 3;

        &:hover .info-card-content{
            opacity: 1;
            bottom: -50%;
            transform: translateY(-100px);
        }

        .img-card{
            border-radius: 20px;
            position: absolute;
            width: 200px;
            height: 250px;
            z-index: -1;
            overflow: hidden;
            object-fit: cover;
        }
        
        .info-card-content{
            border-radius: 20px;
            background-color: rgb(27, 28, 30, 0.8);
            opacity: 0;
            transition: 0.5s ease all;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // width: 160px ;
            width: 200px;
            height: 250px;
            // height: 270px;
        
            padding: 0px 10px;
        
            position: relative;
            top: 100px;
        
            z-index: 2;

            p{
                text-align: center;
                text-indent: 0;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .work-cards-container{
        display: flex;
        justify-content:center;
    
        flex-wrap: wrap;
    
        .card-container{
            width: 200px;
            height: 250px;
            &:hover .info-card-content{
                opacity: 1;
                bottom: -50%;
                transform: translateY(-100px);
            }
    
            .img-card{
                width: 200px;
                height: 250px;
            }
            
            .info-card-content{
                // width: 160px ;
                width: 200px;
                height: 250px;
                // height: 270px;
            }
        }
    }

  }
