@import '../../global/mixins';


.text-shpere {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;

}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 500;
    letter-spacing: 0.0625em;
    font-size: 0.9em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: $primary-color-text;
}

.tagcloud--item:hover {
    color: $titles-color;
    cursor: pointer;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .tagcloud {

        font-size: 1em;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {

  }
  
  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

  }
  
  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {

  }