@import '../../global/mixins';
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.group-of-skills-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.technology-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    gap: 5px;
    border-radius: 20px;
    transition: all .5s ease-in-out  ;
    &:hover .technology-img{
        opacity: 1;
        z-index: 1;
    }
    &:hover p{
        z-index: -1;
        opacity: 0.3;
    }

    .technology-img{
        display: block;
        position: absolute;
        z-index: -1;
        width: 50px;
        height: 50px;
        opacity: 0.0;
        transition: all .3s ease-in-out  ;
    }

    p{
        text-indent: 0;
        text-align: center;
        font-family: 'Caveat', cursive;
        cursor: pointer;
        z-index: 1;
    }
}
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {

  }
