@import '../../global/mixins';


.text-shpere {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;

}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 500;
    letter-spacing: 0.0625em;
    font-size: 0.9em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: $primary-color-text;
}

.tagcloud--item:hover {
    color: $titles-color;
    cursor: pointer;
}



  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .tagcloud {

        font-size: 1em;
    }
  }
