@import  './mixins';

// GENERAL


* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;

    &::-webkit-scrollbar {
        width: 0.5rem;
        background-color: var(--background-one);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--text-one);
        border-radius: 3rem;
    }
}

body{
    background-color:  rgb(27, 28, 30);
    
    display: flex;
    flex-direction: column;

    section{
      &:hover{
        h3{

          text-decoration: $primary-color-text solid underline;
        }
      }
    }

    h1{
        font-size: 36px;
        color: $titles-color;
    }

    h3{
        font-size: 20px;
        color: $titles-color;
        transition: .5s ease-in-out;

        text-decoration-line: underline;
        text-underline-position: under;

        text-decoration: $underline-color solid underline;

        margin-bottom: 20px;
    }
    p{  
        font-size: 16px;
        color: $p-color;
        text-align: justify;
        text-indent: 1em;
    }

    .bg-as{

        height: 400px;
        display: flex;
        justify-content: center;
      
    }
    .programming-img{
        width: auto;
        height: 400px;
        animation: Movement 1.5s ease-in-out infinite alternate;
        transition: transform 1.7s ease-in-out;

        &:hover #code_wall{
            -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;

            @-webkit-keyframes vibrate-1 {
                0% {
                  -webkit-transform: translate(0);
                          transform: translate(0);
                }
                20% {
                  -webkit-transform: translate(-2px, 2px);
                          transform: translate(-2px, 2px);
                }
                40% {
                  -webkit-transform: translate(-2px, -2px);
                          transform: translate(-2px, -2px);
                }
                60% {
                  -webkit-transform: translate(2px, 2px);
                          transform: translate(2px, 2px);
                }
                80% {
                  -webkit-transform: translate(2px, -2px);
                          transform: translate(2px, -2px);
                }
                100% {
                  -webkit-transform: translate(0);
                          transform: translate(0);
                }
              }
              @keyframes vibrate-1 {
                0% {
                  -webkit-transform: translate(0);
                          transform: translate(0);
                }
                20% {
                  -webkit-transform: translate(-2px, 2px);
                          transform: translate(-2px, 2px);
                }
                40% {
                  -webkit-transform: translate(-2px, -2px);
                          transform: translate(-2px, -2px);
                }
                60% {
                  -webkit-transform: translate(2px, 2px);
                          transform: translate(2px, 2px);
                }
                80% {
                  -webkit-transform: translate(2px, -2px);
                          transform: translate(2px, -2px);
                }
                100% {
                  -webkit-transform: translate(0);
                          transform: translate(0);
                }
              }
        }

        @keyframes Movement {
            from{
                transform: translateY(-10px);
            }
            to{
                transform: translateY(10px);
            }
        }


         #React , #React_2 , #React_3{
            animation: rotation 10s infinite linear;
            transform-origin: center;
            transform-box: fill-box;

    

            @keyframes rotation {
                from {
                  transform: rotateZ(0deg);
                }
                to {
                  transform: rotateZ(360deg);
                }
              }      
        }

        #head_marcelo{
            animation: headanimation 1.5s infinite ease-in-out alternate;
            transform-origin: center;
            transform-box: fill-box;

            @keyframes headanimation {
                from {
                  transform: translate(0px , 0px);
                }
                to {
                  transform: translate(10px ,5px);
                }

              }
        }

        #arm{
            animation: arm 1s infinite ease-in-out alternate ;
            transform-origin: center;
            transform-box: fill-box;
            @keyframes arm {
                from {
                  transform: translate(0px ,0px);
                }
                to {
                  transform: translate(-2px , -3px);
                }

              }
        }

        #hand{
            animation: handanimation 1.5s infinite ease-in-out alternate ;
            transform-origin: center;
            transform-box: fill-box;
            @keyframes handanimation {
                from {
                  transform: translateY(0px);
                }
                to {
                  transform: translateY(-15px);
                }

              }
        }

    }
}