@import  './mixins';

// GENERAL


* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;

    &::-webkit-scrollbar {
        width: 0.5rem;
        background-color: var(--background-one);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--text-one);
        border-radius: 3rem;
    }
}

body{
    background-color:  #1b1c1e;
    
    display: flex;
    flex-direction: column;

    h1{
        font-size: 36px;
        color: $titles-color;
    }

    h3{
        font-size: 20px;
        color: $titles-color;

        text-decoration-line: underline;
        text-underline-position: under;

        text-decoration: $underline-color solid underline;

        margin-bottom: 20px;
    }
    p{  
        font-size: 16px;
        color: $p-color;
        text-align: justify;
        text-indent: 1em;
    }
}