@import '../../global/mixins';

.portada-container{

    margin: 0 auto;
    width: 90%;
    height: 100%;


    display: flex;
    flex-direction: column;
    gap: 50px;


    transition: 0.5s;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .portada-container{
        width: 85%;
    }

  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {

    .portada-container{
        width: 60%;
    }

  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .portada-container{
        width: 45%;
    }
  }
  
  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .portada-container{
        width: 35%;
    }
  }
  
  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    .portada-container{
        width: 30%;
    }
  }