@import '../../global/mixins';

.portada-container{

    margin: 0 auto;
    width: 35%;
    height: 100%;


    display: flex;
    flex-direction: column;
    gap: 50px;


    transition: 0.5s;


    .bg-as{

        height: 500px;
      
    }

    .programming-img{
        height: 350px;
        width: 100%;
        margin: 0 auto;
         animation: Movement 1.5s ease-in-out infinite alternate;
         transition: transform 1.7s ease-in-out;

        @keyframes Movement {
            from{
                transform: translateY(-10px);
            }
            to{
                transform: translateY(10px);
            }
        }
        
        #React{
            animation: rotation 10s infinite linear;
            transform-origin: center;
            transform-box: fill-box;
            @keyframes rotation {
                from {
                  transform: rotateZ(0deg);
                }
                to {
                  transform: rotateZ(360deg);
                }
              }
        }
        #hand{
            animation: handanimation 1.5s infinite ease-in-out alternate ;
            transform-origin: center;
            transform-box: fill-box;
            @keyframes handanimation {
                from {
                  transform: translateY(0px);
                }
                to {
                  transform: translateY(-15px);
                }

              }
        }

    }
}