@import '../../global/mixins';

.social-icons-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: 1em;
    .social-ico-item{
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $p-color ;

        height: 35px;
        width: min-content;

        padding: 10px;

        cursor: pointer;

        &:hover{
            transition: 0.3s ease-in-out;

            background: $primary-color-text;
            letter-spacing: 0.10em;
            box-shadow: 0 0 35px $primary-color-text;
            -webkit-animation: vibrate-1 0.3s linear infinite both;
            animation: vibrate-1 0.3s linear infinite both;
            border-radius: 20px;
        }

        @-webkit-keyframes vibrate-1 {
            0% {
                -webkit-transform: translate(0);
                        transform: translate(0);
            }
            20% {
                -webkit-transform: translate(-2px, 2px);
                        transform: translate(-2px, 2px);
            }
            40% {
                -webkit-transform: translate(-2px, -2px);
                        transform: translate(-2px, -2px);
            }
            60% {
                -webkit-transform: translate(2px, 2px);
                        transform: translate(2px, 2px);
            }
            80% {
                -webkit-transform: translate(2px, -2px);
                        transform: translate(2px, -2px);
            }
            100% {
                -webkit-transform: translate(0);
                        transform: translate(0);
            }
            }
            @keyframes vibrate-1 {
            0% {
                -webkit-transform: translate(0);
                        transform: translate(0);
            }
            20% {
                -webkit-transform: translate(-2px, 2px);
                        transform: translate(-2px, 2px);
            }
            40% {
                -webkit-transform: translate(-2px, -2px);
                        transform: translate(-2px, -2px);
            }
            60% {
                -webkit-transform: translate(2px, 2px);
                        transform: translate(2px, 2px);
            }
            80% {
                -webkit-transform: translate(2px, -2px);
                        transform: translate(2px, -2px);
            }
            100% {
                -webkit-transform: translate(0);
                        transform: translate(0);
            }
            }     

    }
}